<% include public/views/header.ejs %>

<div id="tipTop">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x black">
            <div class="small-12 cell text-center">
                <h5><strong>Nub's Nob Ski Patrol Sign-In - 2019</strong></h5>
                <!--<h5>Second Hour Quiz #5</h5>-->
            </div>
        </div>
    </div>
</div>
<div id="topMast">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x">
            <div class="small-5 cell"><input type='submit' id='formSubmit' value='PRINT ROSTER' class="button large expanded border"></div>
            <div class="small-2 cell text-center"><img src="public/images/nsp_logo.png" alt="NSP Logo" id="nspLogo" width="80" height="100" class="glow"></div>
            <div class="cell small-1 text-center"><h5 class="vertical-center" id="date"></h5></div>
            <div class="cell small-2 text-center"><h5 class="vertical-center" id="weekDay"></h5></div>
            <div class="cell small-1 text-center"><h5 class="vertical-center" id="dayNight"></h5></div>
        </div>
    </div>
</div>
<div class="grid-container fluid" id="masterDiv">
    <form id="rosterForm" action="javascript:0">
        <fieldset id="team0"></fieldset>
        <fieldset id="team1">
            <hr>
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam1">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 1:</h5>
                </div>
            </div>
        </fieldset>
        <fieldset id="team2">
            <hr>
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam2">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 2:</h5>
                </div>
            </div>
        </fieldset>
        <fieldset id="team3">
            <hr>
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam3">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 3:</h5>
                </div>
            </div>
        </fieldset>
        <fieldset id="team4">
            <hr>
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam4">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 4:</h5>
                </div>
            </div>
        </fieldset>
        <fieldset id="team5">
            <hr>
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam5">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-4">
                    <h5 class="vertical-center">Candidates/Auxiliary/Guest Patrollers:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team6">
            <legend id="joinTeam6"><strong>Leadership/Trainers:</strong></legend>
        </fieldset>
    </form>
</div>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js" type="module"></script>

<% include public/views/footer.ejs %>