<% include public/views/header.ejs %>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 text-center">
            <!--<h3>Nub's Nob Ski Patrol Sign-In</h3>-->
            <h3>QUIZ 4</h3>
        </div>
    </div>
    <div class="grid-x ">
        <div class="cell small-4 large-4"><h5 id="date"></h5></div>
        <div class="cell small-4 large-4 text-center"><h5 id="weekDay"></h5></div>
        <div class="cell small-4 large-4 text-right"><h5 id="dayNight"></h5></div>
    </div>
    <hr>
    <form id="rosterForm" action="">
        <fieldset id="team1">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam1">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 1:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team2">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam2">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 2:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team3">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam3">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 3:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team4">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam4">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-2">
                    <h5 class="vertical-center">Team 4:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team5">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 success button border-rounded" id="joinTeam5">
                    <strong>J o i n</strong>
                </div>
                <div class="cell small-4">
                    <h5 class="vertical-center">Candidates/Auxiliary/Guest Patrollers:</h5>
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset id="team6">
            <legend id="joinTeam6"><strong>Leadership/Trainers:</strong></legend>
        </fieldset>
        <div class="small-22 small-centered cell">
            <!--<span class="button round expanded" id="formSubmit">PRINT FORM</span>-->
            <input type="submit" class="button round expanded" id="formSubmit" value="PRINT FORM">
        </div>
    </form>
</div>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js" type="module"></script>

<% include public/views/footer.ejs %>